*,*:before,*:after{
    margin: 0px;
}

.header-wrapper {
    height: 100px;
    width: 100%;
    background: black;
    border-bottom: 1px solid #222;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.header-wrapper > .nav-links {
    white-space: nowrap;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: white;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    align-items: flex-end;
    justify-content: space-between;
}

.header-wrapper > .nav-links > a {
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.header-wrapper > .nav-links > a:hover {
    border-bottom: 2px solid purple;
    transition: 0.5s;
}

.header-wrapper > .buttons {
    grid-column: 4/5;
    display: flex;
    border: 2px solid white;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.header-wrapper > .buttons > a {
    background-color: grey;
    width: 100px;
    height: 50%;
}

.header-wrapper > .logo img {
    width: 100%;
    height: 50%;
    margin: 0;
    position: relative;
    margin-right: 16px;
    padding: 0;
    
}